<div class="holder">
  <div class="image-container">
    <div class="text-overlay">
      <h1>We're getting married!</h1>
      <p>We can't wait for you to join us...</p>
    </div>
    <picture>
      <!-- Mobile image -->
      <source srcset="assets/splash-mobile.png" media="(max-width: 767px)">
      <!-- Desktop image (fallback) -->
      <img src="assets/splash.png" alt="Lyrebird Falls" class="img-fluid">
    </picture>
  </div>



  <div class="scroll-content">
    <div class="row d-flex align-items-center">
      <!-- Left column (text) -->
      <div class="col col-12 col-md-6 p-5 d-flex flex-column justify-content-center">
        <h2>Our story...</h2>
        <p class="justify-centre">
          What are the odds? With 17,000 kilometres separating Perth from Edinburgh, and millions of people scattered across
          two continents, the chances of us meeting were virtually zero. Yet somehow, through a perfect storm of
          friendship connections and timing, we found ourselves at the same 21st birthday party. The connection came through a
          lucky mutual friendship with James's closest friend, who's now our best man. After that fateful night, thanks to Emma's
          impatience and the stars seeming to align, the rest, as they say, is history!
          <br />
          <br />
          We quickly discovered we're perfectly matched—both obsessed with football, gaming together for hours, and sharing a love
          for good music and even better wine. We've travelled the world together, bought our first house, and now we're
          ready for the biggest adventure yet!
        </p>
      </div>

      <!-- Right column (image) -->
      <div class="col col-12 col-md-6 p-5 d-flex justify-content-center">
        <img src="assets/portrait.jpeg" alt="The Happy Couple" class="img-fluid portrait">
      </div>
    </div>
  </div>
</div>